<div ng-controller="HomeController">

    <!--alerts-->
    <div>
        <div class="alert alert-success" role="alert" ng-show="alerts.success != null">{{alerts.success}}</div>
        <div class="alert alert-info" role="alert" ng-show="alerts.info != null">{{alerts.info}}</div>
        <div class="alert alert-warning" role="alert" ng-show="alerts.warn != null">{{alerts.warn}}</div>
        <div class="alert alert-danger" role="alert" ng-show="alerts.error != null">{{alerts.error}}</div>
    </div>

    <!--media controls-->
    <div class="media-controls" ng-show="hasMediaSession">

        <!--buttons-->
        <div>
            <button type="button" class="btn btn-default btn-xs" ng-click="play()">
                <span class="btn-lg glyphicon glyphicon-play"></span>&nbsp;
            </button>

            <button type="button" class="btn btn-default btn-xs" ng-click="pause()">
                <span class="btn-lg glyphicon glyphicon-pause"></span>&nbsp;
            </button>

            <button type="button" class="btn btn-default btn-xs" ng-click="stop()">
                <span class="btn-lg glyphicon glyphicon-stop"></span>&nbsp;
            </button>

            <button type="button" class="btn btn-default btn-xs" ng-show="false">
                <span class="btn-lg glyphicon glyphicon-volume-off"></span>&nbsp;
            </button>

            <button type="button" class="btn btn-default btn-xs" ng-show="false">
                <span class="btn-lg glyphicon glyphicon-volume-down"></span>&nbsp;
            </button>

            <button type="button" class="btn btn-default btn-xs" ng-show="false">
                <span class="btn-lg glyphicon glyphicon-volume-up"></span>&nbsp;
            </button>

        </div>

        <br />

        <!--slider-->
        <div>
            <div class="slider-left"></div>
            <div class="slider-right"></div>
        </div>

        <br />

    </div>

    <br />

    <!--input-->
    <div class="input-group">
        <input type="text" class="form-control" ng-model="mediaUrl" ng-init="mediaUrl='http://commondatastorage.googleapis.com/gtv-videos-bucket/big_buck_bunny_1080p.mp4'">

        <span class="input-group-btn">
            <button class="btn btn-default" type="button" ng-click="cast()">Cast</button>
        </span>
    </div>

    <br />


</div>